<!DOCTYPE html>
<html>
  <head>
    <title>Vita</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">

    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
